.jumbotron{
    background-color : white;
    text-align:center;
    border-bottom: 5px solid lightgray;
    box-shadow: 5px 5px 5px 5px lightgray inset;
}

.navbar{
    background-color: rgb(84, 129, 70);
}
#help{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    color : white;
    cursor: default;
}
#help:hover{
    position: relative;
}
#help:after{
    content: "사용방법은 다음과 같습니다! 원하는 키워드를 적고 옵션을 선택하면, 해당 키워드와 관련된 유튜브 내용들을 정리해서 원하는 정렬 순서로 보여줍니다.\A 각 유튜브 영상별로 보여주는 정보로는 영상 url, 요약 내용, 시청자 반응(긍정도), 유료광고 여부, 업로드 날짜가 있습니다.";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 15px;
	z-index: 9999;
    padding: 10px;
    width: 400px;
    position: absolute;
    opacity: 0;
    top:90%;
}
#help:hover::after{
	top: 130%;
	right: 0;
	opacity: 1;
}
.nav-brand{
    text-align : center;
}
#banner{
    border-radius: 25px;
    border: 10px solid rgb(84, 129, 70);
    padding: 20px;
    margin : 20px;
    box-shadow: 5px 5px 5px 5px lightgray inset;
}

#keyword{
    width: 80%;
}
#options{
    box-shadow: 5px 5px 5px 5px lightgray;
}
#filter{
    border-radius: 10px;
    padding: 8px;
}
label{
    font-size: 20px;
    font-family: sans-serif;
    margin : 5px;
    padding : 5px;
    font-weight : 700;
}

.container{
    margin :20px;
}

.input{
    border-radius: 20px;
    background-color: lightgray;
    border : None;
    padding : 10px;
    white-space: nowrap;
}

#submit{
    width: 100%;
    border-radius: 20px;
    background-color: black;
    color: white;
    display:block;
    margin-bottom:10px;
}
#submit:hover{
    width: 100%;
    background-color: white;
    color : black;
    font-weight: 700;
    font-family: sans-serif;
    border-color: black;
}
#select{
    border-bottom: 3px solid lightgray;
    border-top: 3px solid lightgray;
    padding: 10px;
    margin-top: 20px;
}
#fav{
    font-weight: 700;
    font-family: sans-serif;
}

#favorites{
    background-color: mintcream;
    border-radius: 20px;
    padding : 20px;
    box-shadow: 5px 5px 5px 5px lightgray inset;
}

ul{
    list-style-image: url("img/right.png");
}

.fav-item{
    font-family: sans-serif;
    font-size: 20px;
    margin: 30px 0px;
    font-weight: 700;
}

.card:nth-child(odd){
    background-color: white;
    border-radius: 10px;
    width : auto;
    height: auto;
    margin : 15px 8px;
}
.card:nth-child(even){
    background-color: mintcream;
    border-radius: 10px;
    width : auto;
    height: auto;
    margin : 15px 8px;
    
}

.card:hover{
    box-shadow: 5px 5px 5px 3px lightgray;
}
.thumbnail{
    float: center;
}

.badge{
    margin-top:5px;
    margin-bottom: 10px;
    font-size: x-large;
}

.obj-items{
    margin: 20px 0px;
    font-weight: 600;
}
